* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {

    width:100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.instagram-wrapper {
display: flex;
align-items: center;
justify-content: start;
width: 60%;
height: 50vh;
}

.isntagram-phone  {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
}

.isntagram-phone img {
    height: 50rem;
}

.instagram-continue{
display: flex;
align-items: center;/*horizontal*/
justify-content: space-around;/*vertical*/
flex-direction: column;
width: 50%;
min-width: 34rem;
}
.group {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column ;
    background-color: #ffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;

}

.group:nth-child(1){
    min-width: 19rem;
}

.instagram-logo {
    height: 3rem;
}
.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

}

.profile-photo img{
    height: 6rem;
}

.instagram-loguin {

    background-color: #0895f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;

}

.isntagram-logout {

    color:#0895f6 ;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160,160);
}

.link-blue {

    color: #0895f6;
}
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.download {

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.aap-download {

    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.aap-download:nth-child(1) {
    background-image: url('./img/apple-button.png');

}

.app-download:nth-child(2){
    background-image: url('./img/googleplay.png');
}

/* media quries*/

@media (max-width: 1024px) {

    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 658px) {

    body {
        background-color: #ffffff;
    }
    .instagram-wrapper {
        width: 90%;
       
        }
        .instagram-phone {
            display: none;
    }
    .instagram-continue {
        width: 100%;
    }
}

 .group {

    border: 1px solid transparent;
 }